
body {
	background-color: #16697a;
	text-align: center;
	margin: 5em;
 	touch-action: none;
	font-family: Helvetica, Arial;
}

h1 {
	color: #ffa372;
	font-size: 4.5em;
}

h2 {
	/* color: #ed6663; */
	font-size: 9.5em;
}

button {
	color: black;
	background-color: #ed6663;
	font-size: 8.5em;
	border-radius: 14px;
	width : 30%;
	text-align: center;
}
